<!-- 为模板引入staticfiles相关的辅助方法 -->
{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <link rel="stylesheet" href="{% static 'css/stylesheet.css' %}" media="screen">
    <link rel="stylesheet" href="{% static 'css/github-dark.css' %}" media="screen">
    <title>Suusatoshigi's resume by SuuSatoshigi</title>
  </head>

  <body>

    <header>
      <div class="container">
        <h1>Suusatoshigi</h1>
        <h2>Personal resume</h2>

        <section id="downloads">
          <a href="https://github.com/SuuSatoshigi" class="btn btn-github"><span class="icon"></span>View on GitHub</a>
          {% if user.is_authenticated %}
             <a href="{% static 'document/scau_suusatoshigi(zouminyi).pdf' %}" class="btn btn-github"><span class="icon"></span>下载简历</a>
             <a href="{% url 'project_introduction' %}" class="btn btn-github"><span class="icon"></span>项目介绍</a>
          {% endif %}
        </section>
      </div>
    </header>

    <div class="container">
      <section id="main_content">
        <h2>
<a id="hello-welcome-to-suusatoshigis-blog-i-am-suusatoshigi" class="anchor" href="#hello-welcome-to-suusatoshigis-blog-i-am-suusatoshigi" aria-hidden="true"><span class="octicon octicon-link"></span></a>Hello, welcome to SuuSatoshigi's resume, I am SuuSatoshigi.</h2>

<h2><a id="im-a-programmer-dancer-currently-living-in-guangzhou-china" class="anchor" href="#im-a-programmer-dancer-currently-living-in-guangzhou-china" aria-hidden="true"><span class="octicon octicon-link"></span></a>I’m a programmer, dancer currently living in Guangzhou, China.</h2>
<ul>
  <li><h3>编程主攻:iOS</h3></li>
      <p>作品：lookyi app(apple审核中)</p>
  <li><h3>编程助攻:Java/python/MYSQL</h3></li>
      <p>作品：<a href="suusatoshigi.pythonanywhere.com">本站（python）</a>,<a href="http://www.lookyi.com/">lookyi web（Java）</a></p>
  <li><h3>街舞主攻:waccking</h3></li>
  <p>上课视频：</p>
  <li><h3>爱旅游，喜欢用数位板偶尔画出脑海的一瞬灵感，所以最喜欢旅游的时候一边走一边脑补各种场合，纪录下来，等旅游完之后画画。</h3></li>
  <li><h3>语言的话，英语和日语也就一般般，从小讲到大的粤语和国语不知道算不算精通呢？</h3>
  <ol>
    <li><p>日语翻译作品：百度网盘：链接：<a href="http://t.cn/RPwXEN2">http://t.cn/RPwXEN2</a> 密码：nv7n</p></li>
    <li><p>英语翻译作品：<a href="http://tutorial.djangogirls.org/zh/index.html">Django Girls</a></li>
  </ol>
</ul>
<h2>
<a id="if-you-want-to-get-in-touch-with-me-email-is-best" class="anchor" href="#if-you-want-to-get-in-touch-with-me-email-is-best" aria-hidden="true"><span class="octicon octicon-link"></span></a>If you want to get in touch with me, <a href="mailto:suusatoshigi@gmail.com">email</a> is best.</h2>

<h4>
<a id="im-also-on-github-gitoschina-and-csdn" class="anchor" href="#im-also-on-github-gitoschina-and-csdn" aria-hidden="true"><span class="octicon octicon-link"></span></a>I'm also on <a href="https://github.com/SuuSatoshigi">GitHub</a>, <a href="http://git.oschina.net/suusatoshigi">git@oschina</a>, <a href="http://blog.csdn.net/u010558548/article/">CSDN</a>, and <a href="suusatoshigi.github.io">personal blog</a>.</h4>
      </section>
    </div>

              <script type="text/javascript">
            var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
            document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
          </script>
          <script type="text/javascript">
            try {
              var pageTracker = _gat._getTracker("suusatoshigi");
            pageTracker._trackPageview();
            } catch(err) {}
          </script>

  </body>
</html>

