{% extends 'blog/index.html' %}
{% block title %}
 <h1>SuuSatoshigi's Blog</h1>
	{% if user.is_authenticated %}
	    <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
	{% endif %}
	<hr class="small">
	<span class="subheading">It is said that writing 1000 words a day can change my life.</span>
{% endblock title %}
{% block content %}
    {% for post in posts %}
    <a href="post.html">
    	
        <h2 class="post-title">
            <a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a>
        </h2>
    </a>
    <p class="post-meta">Posted by <a href="#">{{ post.author }}</a> on  {{ post.published_date }}</p>
    <hr>
    {% endfor %}
{% endblock content %}