<!--为模板引入staticfiles相关的辅助方法 -->
{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <link rel="stylesheet" href="{% static 'css/stylesheet.css' %}" media="screen">
    <link rel="stylesheet" href="{% static 'css/github-dark.css' %}" media="screen">
    <!-- <title>Suusatoshigi's resume by SuuSatoshigi</title> -->
 </head>
 <body>
    <header>
      <div class="container">
        <h1>Suusatoshigi</h1>
        <h2>项目介绍</h2>
      </div>
    </header>


 </body>
 
<xmp theme="united" style="display:none;">
  {% autoescape off %}
  {% for project in projects %}
  #{{ project.project_name }}
  ##{{ project.project_scaffold_text }}
  {{ project.project_self_function }}
  {{ project.project_skill }}
  {{ project.project_cut }}
  ![]({% static 'img/login-bg.jpg' %})

  ---
  
  {% endfor %}
  {% endautoescape %}
</xmp>

<script src="{% static 'js/strapdown.js' %}"></script>
</html>

