<!--为模板引入staticfiles相关的辅助方法 -->
{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <link rel="stylesheet" href="{% static 'css/stylesheet.css' %}" media="screen">
    <link rel="stylesheet" href="{% static 'css/github-dark.css' %}" media="screen">
    <!-- <title>Suusatoshigi's resume by SuuSatoshigi</title> -->
 </head>
 <body>
    <header>
      <div class="container">
        <h1>Suusatoshigi</h1>
        <h2>项目介绍</h2>
      </div>
    </header>


 </body>

<xmp theme="united" style="display:none;">
  {% autoescape off %}
   <ul>
    {% for project in projects %}
      <li>
        <!-- 项目名称 -->
        <h3>项目名称:</h3>
        #{{ project.project_name }}

        <!-- 项目架构 -->
        {% if project.project_scaffold_text %}
          <h3>项目架构:</h3>
          {{ project.project_scaffold_text }}
        {% endif %}

        <!-- 项目功能 -->
        {% if project.project_self_function %}
          <h3>项目功能:</h3>
          {{ project.project_self_function }}
        {% endif %}

        <!-- 项目技术 -->
        {% if  project.project_skill %}
          <h3>项目技术:</h3>
          {{ project.project_skill }}
        {% endif %}

        <!-- 项目截图 -->
        {% if  project.project_cut %}
          <h3>项目截图:</h3>
          <!-- ![]({% static '{{ project.project_cut }}' %}) -->
          {{ project.project_cut }}
        {% endif %}
        
        
      </li>
      <hr>
    
    {% endfor %}
  </ul>
  {% endautoescape %}
</xmp>

<script src="{% static 'js/strapdown.js' %}"></script>
</html>

